blinker==1.9.0
cachetools==4.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==2.2.2
Flask-Cors==5.0.1
Flask-SQLAlchemy==2.5.1
google-auth==1.12.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.5.3  # Fixed to be compatible with gspread 5.7.0
greenlet==2.0.1
gspread==5.7.0
httplib2==0.22.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.23.3
oauthlib==3.2.2
pandas==1.4.3
pushbullet.py==0.12.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.0
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.0  # Fixed to avoid conflict with google-auth 1.12.0
six==1.16.0
SQLAlchemy==1.4.39
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.11
websocket-client==1.6.0
Werkzeug==2.2.3
gunicorn==20.1.0
python-dotenv==0.21.0
